* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font1: "Raleway"
}

body {
    font-family: var(--font1);
}

a {
    text-decoration: none;
    /* Retira todos os sublilhados */
}

/* CABEÇALHO */

.contener-grid {
    width: 1400px;
    margin: 0 auto;
}

/* aplica o grid na pagina */

header>div {
    background-color: #ffffff;
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}



.img_logo {
    width: 165px;
    height: 28px;
}

.link_cadastro {
    color: #FF6E22;
    margin-left: 15px;
}

/* MAIN */

/* SEÇÃO 1 */

.seção_1 {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

}

h2 {
    font-size: 48px;
    margin-bottom: 120px;
    font-weight: 700;
}

p {
    font-size: 20px;
    margin-bottom: 70px;
}



.btn_encontrar {
    background-color: #FF6E22;
    padding: 15px 55px;
    border-radius: 5%;
    color: #ffffff;
}

.espacamento_main {
    width: 49%;
}

.Banner {
    width: 49%;
}


/* SEÇÃO 2 */

.fundo {
    background-color: #FF8800;
    background: rgba(255, 136, 0, 0.15);
    margin-top: 140px;
    width: 1440px;
    height: 734px;
}

.fundo>h2 {
    font-size: 48px;
    padding: 70px 0px;
    font-weight: 700;
    text-align: center;
}

.seção_2 {
    display: flex;
    justify-content:space-around;
height: 422px;
}

.card>p,
.card{
    background-color: #ffffff;
    font-family: var(--font1);
    font-size: 10px;
}

